.player-container {
  height: 200px;
  background-color: var(--bg-gray-color);
  position: relative;
}

.player-header {
  width: 100%;
  height: 70px;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  z-index: 2;
}

.player-header > *:first-child {
  margin-right: 1.2rem;
}

.player-title {
  font-size: 1.6rem;
  font-weight: 400;
}

.player-footer {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  z-index: 2;
}

.p5-sketch {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}
